<ion-header [translucent]="true">
  <ion-toolbar class="pollo">
    <ion-title class="letritasblancas ">Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="animate__animated animate__backInUp" >
  <ion-card class="pollo">
  <div class="ion-text-center">
  <h1 class="letritasblancas">Iniciar Sesión</h1>
  </div >
  <ion-card class="choripan">
    <ion-item>
      <ion-label position="floating" class="letritasblancas" >Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="user" name="user"class="letritasblancas" placeholder="usuario" ></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label class="letritasblancas" position="floating">Password</ion-label>
      <ion-input class="letritasblancas" type="password" [(ngModel)]="password" name="password" placeholder="contraseña"></ion-input>
    </ion-item>
  </ion-card>

  <div class="ion-text-center">
  <ion-button color="primary" (click)="validarUser()" shape="round">Acceder</ion-button>
  </div>
  <div class="ion-text-center"><a href="/recordar" class="truco">recuperar contraseña</a></div>
</ion-card>
</ion-content>
