.pollo{
    background-color: rgba($color: #B1A2DA, $alpha: 1.0);
}
.letritasblancas{
    color: rgba($color: #f9f6f3, $alpha: 1.0);
}
.fondocard{
    background-color: rgba($color: #8570BC, $alpha: 1.0);
}
.boton{
    border-radius: 25px;
}

.truco{
    background-color: #674188;
}