<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="letritasblancas">
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card class="truco" class="letritasblancas desplazar">
    <h1 class="wachiturro">Bienvenido {{data}}</h1>
    <ion-button (click)="takePicture()" class="boton" shape="round">abrir camara</ion-button>
    <br><br>
    <a href="/acceso" class="letritasblancas truco">Atras</a>
    <br><br>
  </ion-card>
  </div>
</ion-content>
