<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="letritasblancas">
      RegistrApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card class="pollo letritasblancas animate__animated animate__fadeInLeft">
    <h1 class="animate__animated animate__bounce animate__delay-1s">Bienvenido {{data}}</h1>
    <ion-button (click)="takePicture()" class="boton" shape="round">abrir camara</ion-button>
    <ion-button href="/registrar" class="boton" shape="round">registrar Asistencia</ion-button>
    <ion-button href="/api-rest" class="boton" shape="round">Abrir Api Rest </ion-button>
    <br><br>
    <a (click)="salir()" class="letritasblancas truco ">Cerrar Sesion</a>
    <br><br>
  </ion-card>
  </div>
</ion-content>
